# 5.1 Print

## contoh print

In [2]:
##############################
# Tentang Print (1)
#############################


print ("Nama saya adalah Leonardo Edbert Theodora")
print ("Ini adalah pengalaman pertama saya menggunakan python")
print ("Dan untuk sekarang terlihat tidak sesulit C++")
# Tipe data string yang diinput kedalam 'print' akan menghasilkan output sama seperti data string yang diinputkan

Nama saya adalah Leonardo Edbert Theodora
Ini adalah pengalaman pertama saya menggunakan python
Dan untuk sekarang terlihat tidak sesulit C++

In [2]:
##########################
# Tentang print (2)
##########################

print ("Python adalah salah satu bahasa pemrograman")
print ("Python dapat diupload kedalam github")
print ("Diupload pada repository Github ")
# Tipe data string yang diinput kedalam 'print' akan menghasilkan output sama dengan data string yang diinputkan

Python adalah salah satu bahasa pemrograman
Python dapat diupload kedalam github
Diupload pada repository Github

## contoh code error

In [1]:
#########################
# Tentang Print (3)
#########################

print('Python adalah salah satu bahasa pemrograman")

SyntaxError: EOL while scanning string literal (1831387902.py, line 5)

### code tersebut error karena print hanya dapat menggunakan salah satu tanda dalam menyatakan string , petik dua " atau petik satu '

# 5.2 Input

## contoh input

In [3]:
##############################
# Tentang Input (1)
# Data pribadi
##############################

nama_31 = input("siapa namamu?") # memasukan data string kedalam variable 'nama_31'
nim_31 = input("nim berapa di kelas?") # memasukan data string kedalam variable 'nim_31'
tahunini = input("tahun berapakah sekarang?", ) # memasukan data kedalam variable 'tahunini'
tahunlahir = input("tahun berapa kamu lahir?") # memasukan data kedalam variable 'tahunlahir'
umur_31 = int(tahunini) - int(tahunlahir) # memasukan jumlah tipe data integer 'tahunini' dan 'tahunlahir' kedalam variable 'umur_31'

print("Namamu adalah " + nama_31)
print("NIM mu adalah " + nim_31)
print("Umurmu adalah " + str(umur_31))
# print mengeluarkan output tipe data string yang diinputkan

siapa namamu?Leonardo
nim berapa di kelas?A
tahun berapakah sekarang?2023
tahun berapa kamu lahir?2004
Namamu adalah Leonardo
NIM mu adalah A
Umurmu adalah 19

In [13]:
####################################
# Tentang Input (2)
# Mencari persamaan garis jika diketahui nilai (x1,y1) dan graidennya ataupun nilai (x1,y1) dan (x2,y2)
###################################

gradien_31 = (input("Masukkanlah gradien garis jika diketahui : "))
# Pada perintah input, kita dapat memasukan data kedalam variable gradien_31

nilaiy_31 = (input("Masukkanlah nilai x1 garis : "))
nilaix_31 = (input("Masukkanlah nilai y1 garis : "))
# Pada perintah input, kita dapat memasukan data kedalam variable nilaix_31 dan nilaiy_31

nilaiy2_31 = (input("Masukkanlah nilai x2 garis jika diketahui : "))
nilaix2_31 = (input("Masukkanlah nilai y2 garis jika diketahui : "))
# Pada perintah input, kita dapat memasukan data kedalam variable nilaiy2_31 dan nilaix2_31

print("Jika diketahui (x1,y1) dan gradien garis, maka persamaannya adalah " + "y-" + str(nilaiy_31) + "=" + gradien_31 + "(x-" + str(nilaix_31) + ")")
# Pada perintah print dapat dimasukkan nilai string dari beberapa variable untuk membentuk persamaan garis

print("Jika diketahui (x1,y1) dan (x2,y2), maka persamaanya adalah " + "y-" + str(nilaiy_31) + "/" + str(nilaiy2_31) + "-" + str(nilaiy_31) + "=" + "x-" + str(nilaix_31) + "/" + str(nilaix2_31) + "-" + str(nilaix_31))
# Sama dengan pernyataan diatas, pada perintah print dapat dimasukkan nilai string dari beberapa variable untuk membentuk persamaan garis

Masukkanlah gradien garis jika diketahui : 1
Masukkanlah nilai x1 garis : 2
Masukkanlah nilai y1 garis : 3
Masukkanlah nilai x2 garis jika diketahui : 4
Masukkanlah nilai y2 garis jika diketahui : 5
Jika diketahui (x1,y1) dan gradien garis, maka persamaannya adalah y-2=1(x-3)
Jika diketahui (x1,y1) dan (x2,y2), maka persamaanya adalah y-2/4-2=x-3/5-3

## contoh code error

In [5]:
##############################
# Tentang Input (3)
##############################

variable_31 = input("Masukkan data kedalam variable = ")
print("Hasil dari input = " + int(variable_31))

Masukkan data kedalam variable = dxd

ValueError: invalid literal for int() with base 10: 'dxd'

### code tersebut error karena data yang dimasukan kedalam input bertipe data strings sedangkan yang akan dikeluarkan kedalam print bertipe data integer

# 5.3 Tipe Data Integer

## contoh tipe data integer

In [6]:
############################
# Tentang Tipe Data Integer (1)
# Mencari nilai akhir Kalkulus II
############################

nilaikelompok     = input("Masukkan nilai kelompok matkul Kalkulus II :")
nilaikeaktifan    = input ("Masukkan nilai keaktifan matkul Kalkulus II :")
nilaitugasindividu = input ("Masukkan nilai individu matkul Kalkulus II :")
nilaiquis          = input ("Masukkan nilai quis matkul Kalkulus II :")
nilaiuts           = input ("Masukkan nilai uts matkul Kalkulus II :")
nilaiuas           = input ("Masukkan nilai uas matkul Kalkulus II :")
# Input merupakan platform yang dapat berguna untuk memasukan data string

nilaiklmpk    = int(nilaikelompok) * (10/100)
nilaikftfn    = int(nilaikeaktifan) * (10/100)
nilaitgsindi  = int(nilaitugasindividu) * (15/100)
nilaiqs       = int(nilaiquis) * (15/100)
nilaits       = int(nilaiuts) * (25/100)
nilaias       = int(nilaiuas) * (25/100)
# Hasil dari input akan dimasukan kedalam fungsi pembobotan dari masing-masing nilai dengan tipe data integer

nilaiakhir_31 = (nilaiklmpk + nilaikftfn + nilaitgsindi + nilaiqs + nilaits + nilaias)
print("Jadi, nilai akhir anda adalah " + str(nilaiakhir_31))
# Didapatkan hasil dari nilai akhir dari fungsi penjumlahan 'nilai akhir'

Masukkan nilai kelompok matkul Kalkulus II :90
Masukkan nilai keaktifan matkul Kalkulus II :80
Masukkan nilai individu matkul Kalkulus II :90
Masukkan nilai quis matkul Kalkulus II :80
Masukkan nilai uts matkul Kalkulus II :90
Masukkan nilai uas matkul Kalkulus II :80
Jadi, nilai akhir anda adalah 85.0

In [9]:
################## 
# Tipe Data Integer (2)
# Menghitung uang di dompet
#####################################
uang100 = input("ada berapa banyak uang Rp100.000 anda?")
uang50  = input("ada berapa banyak uang Rp50.000 anda?")
uang20  = input("ada berapa banyak uang Rp20.000 anda?")
uang10  = input("ada berapa banyak uang Rp10.000 anda?")
uang5   = input("ada berapa banyak uang Rp5.000 anda?")
uang2   = input("ada berapa banyak uang Rp2.000 anda?")
# memasukan data kedalam variable 'uang100' , 'uang50' , 'uang20' , 'uang10' , 'uang5' , 'uang2' sesuai keterangan tipe data string


jumlah100 = int(uang100) * 100000
jumlah50  = int(uang50) * 50000
jumlah20  = int(uang20) * 20000
jumlah10  = int(uang10) * 10000
jumlah5   = int(uang5)  * 5000
jumlah2   = int(uang2)  * 2000
# sistem mengoperasikan tipe data integer variable 'uang100' , 'uang50' , 'uang20' , 'uang10' , 'uang5' , 'uang2' sesuai dengan keterangan operator

jumlahtotal_31 = int(jumlah100) + int(jumlah50) + int(jumlah20) + int(jumlah10) + int(jumlah5) + int(jumlah2)
# variable 'jumlahtotal' menjumlahkan seluruh tipe data 'jumlah100' , 'jumlah50' , 'jumlah20' , 'jumlah10' , 'jumlah5' , 'jumlah2'

print("Jadi, jumlah uang anda adalah " + str(jumlahtotal_31) )
# print mengeluarkan output tipe data string yang diinputkan

ada berapa banyak uang Rp100.000 anda?2
ada berapa banyak uang Rp50.000 anda?3
ada berapa banyak uang Rp20.000 anda?45
ada berapa banyak uang Rp10.000 anda?3
ada berapa banyak uang Rp5.000 anda?1
ada berapa banyak uang Rp2.000 anda?2
Jadi, jumlah uang anda adalah 1289000

## contoh code error

In [6]:
##############################
# Tentang Tipe Data Integer (3)
##############################

variable2_31 = int(input("Masukan data kedalam variable 1 = "))
variable3_31 = int(input("Masukan data kedalam variable 2 = "))
variabletotal = int(variable2_31) + int(variable3_31)

print("Hasil dari penjumlahan variable 1 dan variable 2 = " + int(variabletotal))

Masukan data kedalam variable 1 = 3
Masukan data kedalam variable 2 = 2

TypeError: can only concatenate str (not "int") to str

### code tersebut error karena pada baris ke 9 dengan perintah print, akan dikeluarkan variabletotal namun karena menggunakan tipe data integer, variabletotal tidak dapat dikeluarkan karena hanya tipe data strings yang dapat dikeluarkan pada perintah print

# 5.4 Formatted Strings

# # contoh formatted strings

In [7]:
#############################
# Tentang Formartted Strings
############################

nama_31 = "Leonardo"
asal_31 = "Banten"
kuliah_31 = "Universitas Udayana"
print ( nama_31 + " berasal dari " + asal_31 + " yang berkuliah di " + kuliah_31 )
# Print pada syntax awal merupakan bentuk awal dari print dan akan menjadi patokan untuk formatted string pada syntax kedua

Leonardo berasal dari Banten yang berkuliah di Universitas Udayana

In [8]:
print(f'{nama_31} berasal dari {asal_31} yang berkuliah di {kuliah_31}')
# Penggunaan 'f' merupakan bentuk dari fungsi yang berguna untuk mengeluarkan output dari variable didalam {} dan mempermudah perintah string

Leonardo berasal dari Banten yang berkuliah di Universitas Udayana

## contoh code error

In [7]:
############################
# Tentang Formatted Strings
############################

nama1_31 = "Leo"
prodi_31 = "Matematika"
fakultas_31 = "MIPA"
print(f{nama1_31} merupakan mahasiswa dari prodi {prodi_31} fakultas {fakultas_31})

SyntaxError: invalid syntax (2061142530.py, line 8)

### code tersebut error karena penggunakan 'f' memerulukan petik dua("") atau petik satu('') dalam melakukan perintah print